<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<RollingRandomAccessFile name="CSV" fileName="csv/output.csv" filePattern="csv/%d{yyyy-MM-dd-HH-mm-ss-SSS}.csv.gz" immediateFlush="false" append="false">
			<CsvParameterLayout delimiter="," header="DEVICE,CELL${sys:line.separator}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingRandomAccessFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %logger{36} - %msg%n" />
		</Console>
		<RandomAccessFile name="WorkLog" fileName="work.log" immediateFlush="true" append="false">
			<PatternLayout pattern="%msg%n" />
		</RandomAccessFile>
	</Appenders>
	<Loggers>
		<Logger name="simulator.actors.Master" level="info" includeLocation="false" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="simulator.actors.Subscriber" level="info" includeLocation="false" additivity="false">
			<AppenderRef ref="WorkLog" />
		</Logger>
		<Logger name="simulator.network" level="info" includeLocation="false" additivity="false">
			<AppenderRef ref="CSV" />
		</Logger>
		<Root level="info" includeLocation="false">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>